body {
  background: #353535;
}

.particles-box, .bosons-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.singular-particle-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .particle {
    width: 50vw;
    cursor: inherit;
  }

  .button {
    cursor: pointer;
  }
}
