.particle {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: .5em solid #23328a;
  border-radius: 1em;
  position: relative;
  margin: 1em;

  .title {
    text-transform: capitalize;
  }
  
  .particle-symbol {
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    padding: .5em;
  }
}
