.particle {
  display: flex;
  flex-direction: column;
  padding: 1vw;
  border: .5em solid #23328a;
  border-radius: 1em;
  position: relative;
  margin: 1vw;
  background: rgb(231, 231, 231);
  width: 27vw;
  color:rgb(65, 65, 65);
  cursor: pointer;

  .title {
    text-transform: capitalize;
    font-size: 1.75em;
    color: inherit;
  }
  
  .particle-symbol {
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    padding: .5em;

    p {
      margin: 0;
    }
  }

  &.is-lepton {
    border-color: green;

    &.is-antimatter {
      border-color: yellow;
    }
  }

  &.is-gauge-boson {
    border-color: rgb(128, 0, 38);
  }

  &.is-quark {
    border-color: rgb(245, 245, 245);

    &.is-antimatter {
      border-color: rgb(65, 65, 65);
    }
  }
}
